.info {
    background-color: $white;
    color: $black;
    padding: 42px 32px;
    border-radius: 12px;
    position: absolute;
    bottom: -68px;
    &__row {
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }
    &__item {
        min-width: 143px;
        position: relative;
        & h3 {
            margin-bottom: 12px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -20px;
            width: 1px;
            height: 80%;
            background-color: $dark-gray;
        }
        &:last-child::after {
            display: none;
        }
    }
}