.input {
    position: relative;
    width: 554px;
    margin-bottom: 50px;
    &__input {
        font-size: 1rem;
        font-weight: 400;
        padding: 16px 24px;
        width: 100%;
        line-height: 1;
        border-radius: 12px;
    }
    &__button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 58px;
        border-radius: 0 12px 12px 0;
        transition: .3s ease;
        cursor: pointer;
        &:hover {
            background-color: $hover-gray;
            transition: .3s ease;
        }
    }
}