@import './variables';

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: bold;
    color: $white;
    font-weight: 400;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    color: $white;
    // @media (max-width: 480px) {
    //     font-size: 20px;
    // }
}

h2 {
    font-size: 18px;
    font-weight: 700;
    // @media (max-width: 560px) {
    //     font-size: 16px;
    // }
}

h3 {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    // @media (max-width: 480px) {
    //     font-size: 7px;
    // }
}

input {
    outline: none;
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    color: $very-dark-gray;
    border: 3px solid transparent;
    transition: .4s ease;
    &::placeholder {
        color: $dark-gray;
    }
}

button {
    outline: none;
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    background-color: $black;
}